{% extends 'email/base_email.html' %}

{% block content %}
<p>Hello <span style="color: #F0B90B">{{username}}</span>,</p>
<br>
<p><span>We’ve received a request to reset your password.</span></p>
<p><span>Your username: </span> <span style="color: #F0B90B;">{{login_name}}</span></p>
<p>
    <span>Please click the below button to continue:</span>
</p>
<br>
<div style="margin: 30px 0;">
    <a href="{{verification_url}}"
       target="_blank"
       style="color: white; text-decoration: none; padding: 10px 20px; border-radius: 5px; margin-right: 10px; margin-bottom: 5px; background: #F0B90B;"
    >
        RESET PASSWORD
    </a>
</div>
{% endblock %}